/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 
  If the above width is causing issues use this in the main img css 
  
  img.oversized {
    max-width: revert;
  }
  */
  
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /* Colours */

  :root {
    --white-font: #ffffff;
  }

  /* Font */

  @font-face {
    font-family: norse-font;
    src: url("Norse-Bold.otf");
  }

  body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .left-container {
    background-image: url("background_image.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    color: var(--white-font);
    font-family: norse-font, monospace;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 3rem;
  }
  .title img {
    height: 150px;
    width: auto;
  }